table {
  background-color: white;
  margin-top: 5px;
}

th {
  background-color: whitesmoke;
  font-weight: normal;
  border-bottom: 4px;
  width: 50%;

  .table-title {
    display: block;
    color: #777777;
  }

  &[app-sort-column] {
    cursor: pointer;
    &.sorted {
      background-color: #EFEFEF;
    }
  }
}

.table-data {
  font-weight: bold;
  color: #1574B1;
  padding-top: 25px;
}

.table-load {
  cursor: pointer;
  color: #1574b1;
}
